1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
For example:
&quot;15 // 0&quot; ➞ -1
Examples
arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [54]:
def arithmetic_operation(str1):
    operations = ['+','-','*','/','//','%']
    exp1 = list(str1.split())
    if exp1[1] == '+':
        print('The expression is',str1)
        return int(exp1[0])+int(exp1[2])
    elif exp1[1]== '-':
        print('The expression is',str1)
        return int(exp1[0])-int(exp1[2])
    elif exp1[1]== '*':
        print('The expression is',str1)
        return int(exp1[0])*int(exp1[2])
    elif exp1[1] =='/':
        print('The expression is',str1)
        if int(exp1[2])==0 or int(exp1[0])==0:
            return -1
        else:
            return int(exp1[0])/int(exp1[2])
    elif exp1[1]=='//':
        print('The expression is',str1)
        if exp1[2]=='0' or exp1[0]=='0':
            return -1
        else:
            return int(exp1[0])// int(exp1[2])
    elif exp1[1]=='%':
        print('The expression is',str1)
        return int(exp1[0])%int(exp1[2])

In [55]:
arithmetic_operation("12 + 12")

The expression is 12 + 12

24

In [56]:
arithmetic_operation("12 - 12")

The expression is 12 - 12

0

In [57]:
arithmetic_operation("12 * 12")

The expression is 12 * 12

144

In [58]:
arithmetic_operation("12 // 0")

The expression is 12 // 0

-1

In [ ]:
2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
Examples
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [22]:
import math
def perimeter(arr):
   
    x = arr[0]
    y = arr[1]
    z = arr[2]
    a = math.sqrt((x[0]-x[1])**2 + (y[0]-y[1])**2)
    b = math.sqrt((x[0]-x[1])**2 + (z[0]-z[1])**2)
    c = math.sqrt((z[0]-z[1])**2 + (y[0]-y[1])**2)
    peri = a+b+c
    return peri

In [23]:
perimeter( [[15, 7], [5, 22], [11, 1] ])

51.31762562623766

In [24]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

In [25]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

40.0

In [ ]:
3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
Examples
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 3
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 4
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 2

In [61]:
def tallest_skyscraper(arr):
    heights = []
    sum1 = 0
    for i in range(len(arr[0])):
        for j in range(len(arr)):
            sum1 = sum1+ arr[j][i]
        
        heights.append(sum1)
        sum1 = 0 
    return max(heights)

In [62]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

3

In [63]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

2

In [64]:
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

4

In [ ]:
4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
Examples
bonus(15) ➞ 0
bonus(37) ➞ 1625
bonus(50) ➞ 8200

In [72]:
def bonus(days):
    inc =0
    d = [32,40,48]
    while(True):
        if days<=32:
            break
        if days > 48:
            inc = inc+(days-d[2])*600
            days = days-d[2]
        elif days> 40:
            inc = inc+(days-d[1])*550
            days = days-d[1]
        elif days> 32:
            inc = inc+(days-d[0])*325
            days = days-d[0]
    return inc

In [73]:
bonus(15)

0

In [74]:
bonus(37)

1625

In [75]:
bonus(50)

1200

In [ ]:
5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.
Examples
is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32
is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False

In [4]:
def is_disarium(n):
    l= len(str(n))
    sum = 0
    temp = n
    while (temp>0):
        d = temp%10
        sum= sum +(d**l)
        l = l-1
        temp = temp//10
    if ( n ==sum):
        return True 
    else:
        return False

In [5]:
is_disarium(75)

False

In [6]:
is_disarium(135)

True

In [7]:
is_disarium(544)

False

In [8]:
is_disarium(518)

True

In [9]:
is_disarium(466)

False